importFrom("stats", "complete.cases", "dt")
importFrom("utils", "read.csv2")
importFrom("dplyr", "%>%", "mutate", "summarise", "n")
importFrom("lubridate", "floor_date", "isoweek")
importFrom("tibble", "is_tibble")
importFrom("readr", "read_delim")
importFrom("utils", "hasName")
export(compute.PriorityBased.ClosureAggregates)
export(get.FilteredTibble)
export(construct.WIPTibble)
export(compute.Week)
export(get.ClosedCases)
export(exclude.OpenCases)
export(compute.CycleTime)
export(compute.PriorityBased.ClosureAggregates)
export(compute.Weekly.ClosureAggregates)
export(compute.FloorDateBased.ClosureAggregates)
export(compute.ClosureAggregates)
export(compute.NumWeeksForClosureCount)
export(get.WIPInDays)
export(compute.WIP)
