importFrom("stats", "complete.cases", "dt")
importFrom("utils", "read.csv2")
importFrom("dplyr", "%>%", "mutate")
importFrom("lubridate", "floor_date", "isoweek")
importFrom("tibble", "is.tibble")
importFrom("readr", "read_delim")
export(compute.PriorityBased.ClosureAggregates)
export(get.FilteredTibble)
export(compute.Week)
export(get.ClosedCases)
export(exclude.OpenCases)
export(compute.PriorityBased.ClosureAggregates)
export(compute.Weekly.ClosureAggregates)
export(compute.FloorDateBased.ClosureAggregates)
export(compute.ClosureAggregates)
export(compute.NumWeeksForClosureCount)
export(get.WIPInDays)
export(compute.WIP)
